@charset 'UTF-8';
@font-face
{
    font-family: 'Roboto';
    font-weight: normal; 
    font-style: normal;

    src: url('../fonts/RobotoRegular.woff2');
}

@font-face
{
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal; 

    src: url('../fonts/RalewayRegular.eot');
    src: url('../fonts/RalewayRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RalewayRegular.woff') format('woff'), url('../fonts/RalewayRegular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: normal; 

    src: url('../fonts/robotoslabregular.eot');
    src: url('../fonts/robotoslabregular.eot?#iefix') format('embedded-opentype'), url('../fonts/robotoslabregular.woff2') format('woff2'), url('../fonts/robotoslabregular.woff') format('woff'), url('../fonts/robotoslabregular.ttf') format('truetype');
}

/*-----------------------------------*\
  $TOAST-GRID
  An insane grid.
  You'd be mad to use it.
  Usage
  =====
  Assuming default values:
  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>
  Customisation
  =============
  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.
  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.
  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.
  That's it. Have fun.
\*-----------------------------------*/
.row
{
    margin-left: -20px; 

    list-style: none;
}

.col--2-of-2,
.col--3-of-3,
.col--4-of-4,
.col--5-of-5,
.col--6-of-6,
.col--8-of-8,
.col--12-of-12
{
    width: 100%;
}

.col--1-of-2,
.col--2-of-4,
.col--3-of-6,
.col--4-of-8,
.col--6-of-12
{
    width: 50%;
}

.col--1-of-3,
.col--2-of-6,
.col--4-of-12
{
    width: 33.33333%;
}

.col--2-of-3,
.col--4-of-6,
.col--8-of-12
{
    width: 66.66667%;
}

.col--1-of-4,
.col--2-of-8,
.col--3-of-12
{
    width: 25%;
}

.col--3-of-4,
.col--6-of-8,
.col--9-of-12
{
    width: 75%;
}

.col--push-2-of-2,
.col--push-3-of-3,
.col--push-4-of-4,
.col--push-5-of-5,
.col--push-6-of-6,
.col--push-8-of-8,
.col--push-12-of-12
{
    margin-left: 100%;
}

.col--push-1-of-2,
.col--push-2-of-4,
.col--push-3-of-6,
.col--push-4-of-8,
.col--push-6-of-12
{
    margin-left: 50%;
}

.col--push-1-of-3,
.col--push-2-of-6,
.col--push-4-of-12
{
    margin-left: 33.33333%;
}

.col--push-2-of-3,
.col--push-4-of-6,
.col--push-8-of-12
{
    margin-left: 66.66667%;
}

.col--push-1-of-4,
.col--push-2-of-8,
.col--push-3-of-12
{
    margin-left: 25%;
}

.col--push-3-of-4,
.col--push-6-of-8,
.col--push-9-of-12
{
    margin-left: 75%;
}

.col--pull-2-of-2,
.col--pull-3-of-3,
.col--pull-4-of-4,
.col--pull-5-of-5,
.col--pull-6-of-6,
.col--pull-8-of-8,
.col--pull-12-of-12
{
    margin-left: -100%;
}

.col--pull-1-of-2,
.col--pull-2-of-4,
.col--pull-3-of-6,
.col--pull-4-of-8,
.col--pull-6-of-12
{
    margin-left: -50%;
}

.col--pull-1-of-3,
.col--pull-2-of-6,
.col--pull-4-of-12
{
    margin-left: -33.33333%;
}

.col--pull-2-of-3,
.col--pull-4-of-6,
.col--pull-8-of-12
{
    margin-left: -66.66667%;
}

.col--pull-1-of-4,
.col--pull-2-of-8,
.col--pull-3-of-12
{
    margin-left: -25%;
}

.col--pull-3-of-4,
.col--pull-6-of-8,
.col--pull-9-of-12
{
    margin-left: -75%;
}

.col--1-of-5
{
    width: 20%;
}

.col--push-1-of-5
{
    margin-left: 20%;
}

.col--pull-1-of-5
{
    margin-left: -20%;
}

.col--2-of-5
{
    width: 40%;
}

.col--push-2-of-5
{
    margin-left: 40%;
}

.col--pull-2-of-5
{
    margin-left: -40%;
}

.col--3-of-5
{
    width: 60%;
}

.col--push-3-of-5
{
    margin-left: 60%;
}

.col--pull-3-of-5
{
    margin-left: -60%;
}

.col--4-of-5
{
    width: 80%;
}

.col--push-4-of-5
{
    margin-left: 80%;
}

.col--pull-4-of-5
{
    margin-left: -80%;
}

.col--1-of-6
{
    width: 16.66667%;
}

.col--push-1-of-6
{
    margin-left: 16.66667%;
}

.col--pull-1-of-6
{
    margin-left: -16.66667%;
}

.col--5-of-6
{
    width: 83.33333%;
}

.col--push-5-of-6
{
    margin-left: 83.33333%;
}

.col--pull-5-of-6
{
    margin-left: -83.33333%;
}

.col--1-of-8
{
    width: 12.5%;
}

.col--push-1-of-8
{
    margin-left: 12.5%;
}

.col--pull-1-of-8
{
    margin-left: -12.5%;
}

.col--3-of-8
{
    width: 37.5%;
}

.col--push-3-of-8
{
    margin-left: 37.5%;
}

.col--pull-3-of-8
{
    margin-left: -37.5%;
}

.col--5-of-8
{
    width: 62.5%;
}

.col--push-5-of-8
{
    margin-left: 62.5%;
}

.col--pull-5-of-8
{
    margin-left: -62.5%;
}

.col--7-of-8
{
    width: 87.5%;
}

.col--push-7-of-8
{
    margin-left: 87.5%;
}

.col--pull-7-of-8
{
    margin-left: -87.5%;
}

.col--1-of-12
{
    width: 8.33333%;
}

.col--push-1-of-12
{
    margin-left: 8.33333%;
}

.col--pull-1-of-12
{
    margin-left: -8.33333%;
}

.col--2-of-12
{
    width: 16.66667%;
}

.col--push-2-of-12
{
    margin-left: 16.66667%;
}

.col--pull-2-of-12
{
    margin-left: -16.66667%;
}

.col--5-of-12
{
    width: 41.66667%;
}

.col--push-5-of-12
{
    margin-left: 41.66667%;
}

.col--pull-5-of-12
{
    margin-left: -41.66667%;
}

.col--7-of-12
{
    width: 58.33333%;
}

.col--push-7-of-12
{
    margin-left: 58.33333%;
}

.col--pull-7-of-12
{
    margin-left: -58.33333%;
}

.col--10-of-12
{
    width: 83.33333%;
}

.col--push-10-of-12
{
    margin-left: 83.33333%;
}

.col--pull-10-of-12
{
    margin-left: -83.33333%;
}

.col--11-of-12
{
    width: 91.66667%;
}

.col--push-11-of-12
{
    margin-left: 91.66667%;
}

.col--pull-11-of-12
{
    margin-left: -91.66667%;
}

.col
{
    display: inline-block;

    box-sizing: border-box;
    min-height: 1px;
    margin-right: -.25em;
    padding-left: 20px;

    vertical-align: top;
}
@media (max-width: 700px)
{
    .col
    {
        display: block;

        width: auto; 
        margin-right: 0;
        margin-left: 0;
    }
}
@media (max-width: 700px) and (min-width: 480px)
{
    .col[class*='col--m-']
    {
        display: inline-block;

        margin-right: -.24em;
    }
    .col.col--m-1-of-2,
    .col.col--m-2-of-4
    {
        width: 50%;
    }
    .col.col--m-1-of-3
    {
        width: 33.33333%;
    }
    .col.col--m-2-of-3
    {
        width: 66.66667%;
    }
    .col.col--m-1-of-4
    {
        width: 25%;
    }
    .col.col--m-3-of-4
    {
        width: 75%;
    }
}
@media (max-width: 480px)
{
    .col[class*='col--s-']
    {
        display: inline-block;

        margin-right: -.24em;
    }
    .col.col--s-1-of-2,
    .col.col--s-2-of-4
    {
        width: 50%;
    }
    .col.col--s-1-of-3
    {
        width: 33.33333%;
    }
    .col.col--s-2-of-3
    {
        width: 66.66667%;
    }
    .col.col--s-1-of-4
    {
        width: 25%;
    }
    .col.col--s-3-of-4
    {
        width: 75%;
    }
}

.col--centered
{
    display: block;

    margin-right: auto; 
    margin-left: auto;
}

.col--d-first
{
    float: left;
}

.col--d-last
{
    float: right;
}

.row--no-gutter
{
    width: 100%; 
    margin-left: 0;
}
.row--no-gutter .col
{
    padding-left: 0;
}
.row--no-gutter .col--span-all
{
    width: 100%; 
    margin-left: 0;
}

.col--ab
{
    vertical-align: bottom;
}

.col--am
{
    vertical-align: middle;
}

img
{
    max-width: 100%;
}

div
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

div,
section,
article,
span,
h1,
h2,
h3,
h4,
h5
{
    outline: 1px solid green;
}

button
{
    border-style: none; 
    border-color: transparent;
    background-color: transparent;
}

ul
{
    margin: 0;
    padding: 0;
}

ul > li
{
    list-style-type: none;
}

.catalog__trips-wrapper
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -ms-flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.catalog__header
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-top: 150px; 
    margin-bottom: 50px;

    -ms-flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.catalog__title
{
    font-family: 'Roboto Slab';
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;

    position: relative;

    margin: 5px;

    letter-spacing: 1.8px; 

    color: #0d3351;
}
.catalog__title::before
{
    position: absolute;
    z-index: 2;
    top: -300px;
    right: 150px;

    display: block;

    width: 55px;
    height: 298px;

    content: '';

    background-image: url('../img/snake.png');
    background-repeat: no-repeat; 
    background-size: cover;
}

.catalog__sorting-desk
{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    /* Text style for "цене" */
    font-style: italic;
    line-height: 24px;
    /* Text style for "Сортироват" */

    letter-spacing: .7px;
    letter-spacing: .7px; 

    color: #0d3351;
}

.catalog__sorting-kind
{
    position: relative;
}
.catalog__sorting-kind::after
{
    position: absolute;
    z-index: 2;
    top: 7px;
    right: -17px;

    display: block;

    content: '';

    border: 4px solid transparent;
    border-top: 4px solid black;
}

.catalog__trips-list
{
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    column-count: 2;
    column-gap: 1;
}

.choosing-link
{
    padding: 20px 30px;

    color: #fff;
    background-color: #33c7fd;
}
.choosing-link--header
{
    margin-bottom: 180px;
}
.choosing-link--catalog
{
    margin-bottom: 30px;
}

.contacts-info
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-right: 150px; 

    -ms-flex-direction: column;
}
.contacts-info__item
{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    letter-spacing: .7px; 

    color: #0d3351;
}

.container
{
    box-sizing: border-box; 
    width: 1140px;
    margin: 0 auto;
}
.container--header-upper
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container--header-bottom
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -ms-flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}
.container--footer-container
{
    display: -ms-flexbox;
    display: flex;
}

.footer
{
    color: #0d3351;
}

.footer__social
{
    height: 55px;
    margin-right: -5px;
}
.footer__social__image
{
    fill: green;
}
.footer__social__twitter
{
    padding: 17px 15px;
}
.footer__social__facebook
{
    padding: 14px 19px;
}
.footer__social__youtube
{
    padding: 16px 18px;
}

.header
{
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.header__toggle
{
    padding-top: 10px;
}
.header__toggle-button
{
    width: 22px;
    height: 16px;

    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.header__toggle-button--hamburger
{
    background-image: url('../img/hamburger.png');
}
.header__toggle-button--cross
{
    display: none;

    background-image: url('../img/cross.png');
}

.logo
{
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 50px; 

    -ms-flex-pack: center;
    justify-content: center;
}

.nav
{
    position: absolute;
    top: 40px;

    width: 413px;
    padding-top: 50px;
    padding-right: 128;
    padding-bottom: 50px;
    padding-left: 44px;

    background-color: #0d3351;
}
.nav--header
{
    display: none;
}

.nav__item
{
    margin: 15px 0;
}

.nav__link
{
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    letter-spacing: .9px; 

    color: #fff;
}

.nav__wrapper
{
    position: relative;
}

.page-title
{
    font-family: 'Roboto Slab'; 

    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-bottom: 70px;

    text-align: center;

    color: #0d3351;

    -ms-flex-direction: column;
}
.page-title__main
{
    font-size: 100px;
    font-weight: 400;
    line-height: 48px;

    margin: 25px;

    text-transform: uppercase;
}
.page-title__secondary
{
    font-size: 36px;
    font-weight: 400;
    line-height: 48px; 

    margin: 25px;
}

.social
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-right: 400px; 

    -ms-flex-direction: column;
}
.social__slogan
{
    margin-bottom: 20px;
}
.social__list
{
    display: -ms-flexbox;
    display: flex;
}
.social__link
{
    display: block;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-right: 10px;

    border: 1px solid rebeccapurple;
    border-radius: 50%;
    background-color: #0d3351;
    background-repeat: no-repeat;
    background-position: 54% 60%;
    background-size: auto;
}
.social__link--vk
{
    background-image: url('../img/vk_icon.png');
}
.social__link--ok
{
    background-image: url('../img/ok_icon.png');
}
.social__link--yt
{
    background-image: url('../img/yt_icon.png');
}
.social__link--instagram
{
    background-image: url('../img/insta_icon.png');
}

.support
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column; 

    -ms-flex-direction: column;
}

.trip
{
    position: relative;

    margin-bottom: 38px;
}
.trip__title
{
    margin: 0;
    padding-left: 30px;
}
.trip__title-link
{
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;

    position: relative;

    letter-spacing: .9px; 

    color: #00a2dd;
}
.trip__title-link::before
{
    position: absolute;
    z-index: 2;
    top: 7px;
    right: -17px;

    display: block;

    content: '';

    border: 4px solid transparent;
    border-left: 4px solid #00a2dd;
}
.trip--discount::before,
.trip--stock::before,
.trip--sales-hit::before
{
    position: absolute;
    z-index: 2;
    top: -15px;
    right: 46px;

    display: block;

    content: '';

    border-top: 80px solid #e30613;
    border-right: 45px solid #e30613; 
    border-bottom: 20px solid transparent;
    border-left: 45px solid #e30613;
}
.trip--discount::after,
.trip--stock::after,
.trip--sales-hit::after
{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; 

    position: absolute;
    position: absolute;
    z-index: 3;
    right: 59px;
    bottom: 218px;

    width: 69px;
    height: 54px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}
.trip--discount::after
{
    content: 'скидка 10%';
}
.trip--stock::after
{
    content: 'акция 10%';
}
.trip--sales-hit::before
{
    border-top: 80px solid #33c7fd;
    border-right: 45px solid #33c7fd; 
    border-bottom: 20px solid transparent;
    border-left: 45px solid #33c7fd;
}
.trip--sales-hit::after
{
    top: 10px; 

    content: 'хит продаж';
}

.trip__content
{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    margin: 10px 0;
    padding-left: 30px;

    letter-spacing: .7px; 

    color: #0d3351;
}

.trip__route-name,
.trip__duration-name
{
    font-weight: bold;
}

.trip__duration,
.trip__current-price,
.trip__route
{
    margin: 0;
}

.trip__duration
{
    margin-bottom: 10px;
}

.trip__current-price
{
    font-family: 'Roboto Slab';
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;

    letter-spacing: 1.5px; 

    color: #0d3351;
}

.trip__old-price
{
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;

    text-decoration: line-through;
    letter-spacing: .9px; 

    opacity: .55;
    color: #0d3351;
}

.user-cabinet
{
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 20px;
    padding-top: 5px;

    color: #0d3351; 

    -ms-flex-pack: end;
    justify-content: flex-end;
}
.user-cabinet__support-phone
{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    letter-spacing: .7px; 

    color: #0d3351;
}
.user-cabinet__currency
{
    margin-right: 40px;
}
.user-cabinet__lang
{
    margin-right: 70px;
}
.user-cabinet__support
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column; 

    -ms-flex-direction: column;
}
.user-cabinet__support-desc
{
    font-family: Raleway;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;

    letter-spacing: .5px;
}
.user-cabinet__copy
{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "© 2016 OOO" */

    letter-spacing: .7px;
}
.user-cabinet__account-link
{
    margin-right: 84px; 

    color: #0d3351;
}
.user-cabinet__account-link::before
{
    position: absolute;
    z-index: 2;
    top: 3px;
    left: -19px;

    display: block;

    width: 11px;
    height: 17px;

    content: '';

    background-image: url('../img/user-icon.png');
    background-repeat: no-repeat;
}
.user-cabinet__currency::before
{
    position: absolute;
    z-index: 2;
    top: 3px;
    left: -19px;

    display: block;

    width: 10px;
    height: 12px;

    content: '';

    background-image: url('../img/rubble.png');
    background-repeat: no-repeat;
}

.user-cabinet__lang,
.user-cabinet__currency,
.user-cabinet__account-link
{
    position: relative;
}
.user-cabinet__lang::after,
.user-cabinet__currency::after,
.user-cabinet__account-link::after
{
    position: absolute;
    z-index: 2;
    top: 7px;
    right: -17px;

    display: block;

    content: '';

    border: 4px solid transparent;
    border-top: 4px solid black;
}

.user-area
{
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 20px;

    color: #0d3351; 

    -ms-flex-pack: end;
    justify-content: flex-end;
}
.user-area__support-phone
{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    letter-spacing: .7px; 

    color: #0d3351;
}
.user-area__support-desc
{
    font-family: Raleway;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;

    letter-spacing: .5px;
}
.user-area__copy
{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "© 2016 OOO" */

    letter-spacing: .7px;
}
.user-area__account-link
{
    margin-right: 50px; 

    color: #0d3351;
}
