@font-face {
  font-family: "Roboto";
  src:url("../fonts/RobotoRegular.woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayRegular.eot');
  src: url('../fonts/RalewayRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RalewayRegular.woff') format('woff'),
  url('../fonts/RalewayRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslabregular.eot');
  src: url('../fonts/robotoslabregular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslabregular.woff2') format('woff2'),
  url('../fonts/robotoslabregular.woff') format('woff'),
  url('../fonts/robotoslabregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
