.container{
  width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;

  &--header-upper{
    display: flex;
    justify-content: space-between;
  }
  &--header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--footer-container{
    display: flex;
  }

}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
