.footer{
  color: #0d3351;
}
.footer__social{
  height: 55px;
  margin-right: -5px;
  &__image{
    fill: green;
  }
  &__twitter{
    padding: 17px 15px;
  }
  &__facebook{
    padding: 14px 19px;
  }
  &__youtube{
    padding: 16px 18px;
  }
}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
