.header{
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__upper{
}
.header__bottom{

}
.header__logo-toggle{

}
.header__toggle{
  padding-top: 10px;
  &-button--hamburger{
    width: 22px;
    height: 16px;
    background-image: url("../img/hamburger.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
