.nav{
  position: absolute;
  top: 40px;
  width: 413px;
  padding-left: 44px;
  padding-top: 50px;
  padding-right: 128;
  padding-bottom: 50px;
  background-color: #0d3351;
  &--header{
    display: none;
  }
}
.nav__list{

}
.nav__item{
  margin: 15px 0;
}
.nav__link{
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.9px;
}
.nav__wrapper{
  position: relative;
}