.user-area{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: #0d3351;
  &__support-phone{
    color: #0d3351;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
  &__support-desc{
    font-family: Raleway;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
  &__copy{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "© 2016 OOO" */
    letter-spacing: 0.7px;
  }
  &__account-link{
    color: #0d3351;
    margin-right: 50px;
  }
}